.single-project {
  display: flex;
  padding: 60px;
  position: relative;
}

.project {
  display: flex;
  gap: 3rem;
  position: relative;

  .img-wrapper {
    position: relative;

    img {
      filter: grayscale(100%);
      transition: filter 0.4s ease, transform 0.4s ease;
    }

    .img-overlay {
      position: absolute;
      top: 1rem;
      right: -2rem;
      left: 1rem;
      bottom: -2rem;
      border: 4px solid black;
      opacity: 0;
      pointer-events: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 2rem;
      transition: opacity 0.4s ease;

      .arrow-small,
      .arrow-large {
        position: absolute;
        top: 50%;
        right: -40px; // oder left: -36px bei reverse
        transform-origin: center center;
        pointer-events: none;
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.2s ease;
      }
    }
  }

  .content {
    flex-direction: column;
    padding-top: 40px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  &:hover {
    .img-wrapper img {
      transform: scale(1.02);
      filter: grayscale(0%);
    }
    .img-wrapper .img-overlay {
      opacity: 1;
    }

    .arrow-small {
      transform: translateY(-50%) scale(0) rotate(0deg);
      opacity: 0;
      z-index: 1;
    }

    .arrow-large {
      transform: translateY(-50%) scale(1) rotate(0deg);
      opacity: 1;
      z-index: 2;
    }

    .content {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
      transition-delay: 0.2s;
    }
  }
}

.arrow-small {
  transform: translateY(-50%) scale(1) rotate(0deg);
  opacity: 1;
  z-index: 2;
}

.arrow-large {
  transform: translateY(-50%) scale(0.5) rotate(120deg);
  opacity: 0;
  z-index: 1;
}

.project-id {
  position: absolute;
  right: 0;
  top: -18px;
  font-size: 40px;
  font-weight: 700;
}

.project-details {
  > h2 {
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 0.2em;
  }
  > span {
    font-size: 1.5rem;
    color: var(--color-highlight);
  }
  > p {
    font-size: var(--font-base);
  }
}

// Reverse Variante
.reverse .project {
  flex-direction: row-reverse;

  .img-wrapper .img-overlay {
    .arrow-small {
      right: auto;
      left: -36px;
    }
    .arrow-large {
      right: auto;
      left: -40px;
    }
  }

  .project-id {
    left: 0;
    right: auto;
  }
}
