@use "breakpoints" as bp;

.social-media {
  width: 100%;  
  max-width: 1440px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2.5rem;
  box-sizing: border-box;
  margin-inline-end: 1.7rem;
  @media (max-width: bp.$breakpoint-md) {
    margin-inline-end: 1rem;
  }
  @media (max-width: bp.$breakpoint-sm) {
    justify-content: center;
    height: 70px;
    margin-inline-end: 0rem;
    gap: 1.5rem;
  } 
}

.sm-wrapper {
  width: 100%;

}

.icon-link {
  display: inline-block;
  img {
    width: 42px;
    height: 42px;
  }
}

.social-media .icon-link img {
  transition: transform 0.3s ease;
}

.social-media .icon-link:hover img {
  transform: translateY(-16px);
}
