@use "breakpoints" as bp;

.social-media {
  max-width: 1850px;
  min-width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  height: 140px;
  box-sizing: border-box;
  margin-inline-end: 2.7rem;
  
  @media (max-width: bp.$breakpoint-xs) {
    width: 100%;
    padding-right: 0;
    justify-content: center;
  }
}

.icon-link {
  display: inline-block;
  padding: 12px;

  img {
    width: 42px;
    height: 42px;
  }
}

.social-media .icon-link img {
  transition: transform 0.3s ease;
}

.social-media .icon-link:hover img {
  transform: translateY(-16px);
}
