<form [formGroup]="applyForm" (ngSubmit)="onSubmit()" id="contact">
  <div class="form-field">
    <div class="input-wrapper">
      <input
        type="text"
        id="name"
        placeholder=" "
        formControlName="name"
        autocomplete="off"
      />
      <label for="name" i18n="@@contact.form.name.label">Dein Name</label>

      <span class="validation-icon">
        @if (applyForm.get('name')?.valid && applyForm.get('name')?.touched) {
        <img src="assets/icons/validation_green.png" alt="Valid Icon" />
        } @if (applyForm.get('name')?.invalid && applyForm.get('name')?.touched)
        {
        <img src="assets/icons/validation_red.png" alt="Invalid Icon" />
        }
      </span>
    </div>
    @if (applyForm.get('name')?.hasError('required') &&
    applyForm.get('name')?.touched) {
    <span class="error" i18n="@@contact.form.name.required"> Der Name ist erforderlich. </span>
    }
  </div>

  <div class="form-field">
    <div class="input-wrapper">
      <input
        type="email"
        id="email"
        placeholder=" "
        formControlName="email"
        autocomplete="off"
      />
      <label for="email" i18n="@@contact.form.email.label">Deine Email</label>

      <span class="validation-icon">
        @if (applyForm.get('email')?.valid && applyForm.get('email')?.touched) {
        <img src="assets/icons/validation_green.png" alt="Valid Icon" />
        } @if (applyForm.get('email')?.invalid &&
        applyForm.get('email')?.touched) {
        <img src="assets/icons/validation_red.png" alt="Invalid Icon" />
        }
      </span>
    </div>
    @if (applyForm.get('email')?.hasError('required') &&
    applyForm.get('email')?.touched) {
    <span class="error" i18n="@@contact.form.email.required"> Die Email ist erforderlich. </span>
    } @if (applyForm.get('email')?.hasError('email') &&
    applyForm.get('email')?.touched) {
    <span class="error" i18n="@@contact.form.email.invalid"> Bitte eine gültige Email eingeben. </span>
    }
  </div>

  <div class="form-field">
    <div class="input-wrapper">
      <textarea
        id="message"
        placeholder=" "
        formControlName="message"
      ></textarea>
      <label for="message" i18n="@@contact.form.message.label">Deine Nachricht</label>

      <span class="validation-icon-textarea">
        @if (applyForm.get('message')?.valid &&
        applyForm.get('message')?.touched) {
        <img src="assets/icons/validation_green.png" alt="Valid Icon" />
        } @if (applyForm.get('message')?.invalid &&
        applyForm.get('message')?.touched) {
        <img src="assets/icons/validation_red.png" alt="Invalid Icon" />
        }
      </span>
    </div>

    @if (applyForm.get('message')?.hasError('required') &&
    applyForm.get('message')?.touched) {
    <span class="error" i18n="@@contact.form.message.required"> Die Nachricht ist erforderlich. </span>
    } @if (applyForm.get('message')?.hasError('minlength') &&
    applyForm.get('message')?.touched) {
    <span class="error" i18n="@@contact.form.message.minlength">
      Die Nachricht muss mindestens 100 Zeichen lang sein.
    </span>
    }
  </div>

  <div
    class="checkbox-wrapper"
    [class.hovered]="isPrivacyHovered"
    [class.checked]="applyForm.get('privacy')?.value"
    (mouseenter)="isPrivacyHovered = true"
    (mouseleave)="isPrivacyHovered = false"
  >
    <label class="custom-checkbox">
      <div class="checkbox-circle-wrapper">
        <span class="circle-bg" [class.visible]="isPrivacyHovered"></span>

        <input type="checkbox" id="privacy" formControlName="privacy" />
        <span
          class="checkbox-box"
          [class.visible]="isPrivacyHovered && !applyForm.get('privacy')?.value"
        ></span>
      </div>
      <div class="checkbox-text" i18n="@@contact.form.privacy.text">
        Ich habe die
        <a href="/privacy-policy" target="_blank" class="pp"
          >Datenschutzerklärung</a
        >
        gelesen und stimme dem Verarbeiten meiner Daten zu.
      </div>
    </label>
    @if (applyForm.get('privacy')?.hasError('required') &&
    applyForm.get('privacy')?.touched) {
    <span class="error" i18n="@@contact.form.privacy.required"> Bitte Datenschutzerklärung akzeptieren. </span>
    }
  </div>

  <div class="btn-container">
    <button class="btn-primary send-btn" [disabled]="applyForm.invalid">
      <span i18n="@@contact.form.submit.button">Abschicken</span>
    </button>
  </div>
</form>
