.scroll-left {
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 80px;
}

.skills-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.skills-grid {
  display: grid;
  width: fit-content;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100px 100px 100px 100px 100px;
  gap: 102px;
  padding: 40px 40px;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  word-break: normal;
  > span {
    font-weight: 700;
    font-size: 18px;
  }
  &:hover {
    color: var(--color-highlight);
  }
}

.rtl-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 22px;
  gap: 16px;
}

.underline-slide {
  position: relative;
  display: inline-block;
  width: 150px;
  &:hover {
    font-weight: 600;
  }
}

.underline-slide::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: currentColor;
  transition: transform 0.2s ease-out, width 0.2s ease-out;
  transform: translateX(0);
  opacity: 0;
}

.underline-slide:hover::after {
  width: 40%;
  transform: translateX(110%);
  opacity: 1;
}

.border {
  position: relative;
  height: 85vh;
  width: 90%;
  border-bottom: 6px solid black;
  > h1 {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
  }
  > h1:hover {
    color: var(--color-highlight);
  }
}

/* linke Linie */
.border::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12%; /* hier Startpunkt der Linie */
  height: 88%; /* hier Länge der Linie */
  width: 6px;
  background-color: black;
}

/* rechte Linie */
.border::after {
  content: "";
  position: absolute;
  right: 0;
  top: 12%; /* Startpunkt */
  height: 88%; /* Länge */
  width: 6px;
  background-color: black;
}

/* linke obere Linie */
.border-top::before {
  content: "";
  position: absolute;
  top: 12%;
  left: 0;
  height: 6px; /* Höhe der Linie (Border-Dicke) */
  width: 35%; /* Länge der linken Linie */
  background-color: black;
}

/* rechte obere Linie */
.border-top::after {
  content: "";
  position: absolute;
  top: 12%;
  right: 0;
  height: 6px;
  width: 35%; /* Länge der rechten Linie */
  background-color: black;
}

.skill img {
  transition: transform 0.3s ease;
  animation: none;
  will-change: transform;
}

.skill:hover img {
  animation: radiateX 0.35s ease-in-out;
}

@keyframes radiateX {
  0% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
  20% {
    transform: translateX(90%) scaleX(1);
    opacity: 1;
  }
  35% {
    transform: translateX(50%) scaleX(0.4);
    opacity: 1;
  }
  60% {
    transform: translateX(-50%) scaleX(0.4);
    opacity: 1;
  }
  75% {
    transform: translateX(-90%) scaleX(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}
