@use "breakpoints" as bp;

.skills-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  @media (max-width: bp.$breakpoint-lg) {
    padding: 0;
  }
  @media (max-width: bp.$breakpoint-md) {
    padding-bottom: 1rem;
  }
  @media (max-width: bp.$breakpoint-sm) {
    padding: 1rem 1rem;
  }
  @media (max-width: bp.$breakpoint-xs) {
    padding-bottom: 2rem;
  }
}

.skills-grid {
  display: grid;
  width: fit-content;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100px 100px 100px 100px 100px;
  gap: 80px;
  padding: 40px 40px;
  margin: 0 auto;
  @media (max-width: bp.$breakpoint-lg) {
    grid-template-columns: 70px 70px 70px 70px;
  }
  @media (max-width: bp.$breakpoint-md) {
    grid-template-columns: 70px 70px 70px;
  }
  @media (max-width: bp.$breakpoint-sm) {
    grid-template-columns: 70px 70px;
    padding: 2rem;
    gap: 4rem;
  }
  @media (max-width: bp.$breakpoint-xs) {
    grid-template-columns: 50px 50px;
    padding: 2rem;
    gap: 3.5rem;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  word-break: normal;
  > img {
    height: 60px;
    width: auto;
    @media (max-width: bp.$breakpoint-md) {
      height: 50px;
    }
    @media (max-width: bp.$breakpoint-sm) {
      height: 50px;
    }
  }
  > span {
    font-weight: 700;
    font-size: 18px;
    @media (max-width: bp.$breakpoint-md) {
      font-size: 1.1rem;
    }

    @media (max-width: bp.$breakpoint-xs) {
      font-size: 1rem;
    }
  }
  &:hover {
    color: var(--color-highlight);
  }
}

.rtl-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  gap: 16px;
  padding: 2rem;
  @media (max-width: bp.$breakpoint-lg) {
    padding: 2rem 2rem;
  }

  @media (max-width: bp.$breakpoint-md) {
    padding: 1rem 1rem 2rem 1rem;
    width: 90%;
    margin-left: 0;
  }
  @media (max-width: bp.$breakpoint-sm) {
    font-size: 1.4rem;
    margin-left: 0;
    width: 90%;
    padding: 2rem 1rem 1rem 1rem;
  }
  @media (max-width: bp.$breakpoint-xs) {
    font-size: 1.2rem;
    margin-left: 0;
  }
  > img {
    @media (max-width: bp.$breakpoint-xs) {
      height: 40px;
      width: auto;
    }
  }
  > span {
    text-align: center;
    @media (max-width: bp.$breakpoint-lg) {
      text-align: justify;
    }
    @media (max-width: bp.$breakpoint-md) {
      font-size: 1.4rem;
      width: 80%;
      text-align: justify;
    }
    @media (max-width: bp.$breakpoint-sm) {
      font-size: 1.2rem;
      width: 90%;
      text-align: justify;
    }

    @media (max-width: bp.$breakpoint-xs) {
      font-size: 1rem;
      width: 90%;
      text-align: justify;
    }
  }
}

.underline-slide {
  position: relative;
  display: inline-block;
  width: 150px;
  &:hover {
    font-weight: 600;
  }
}

.underline-slide::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: currentColor;
  transition: transform 0.2s ease-out, width 0.2s ease-out;
  transform: translateX(0);
  opacity: 0;
}

.underline-slide:hover::after {
  width: 40%;
  transform: translateX(110%);
  opacity: 1;
}

.border {
  position: relative;
  height: auto;
  width: 90%;
  border-bottom: 6px solid black;

  @media (max-width: bp.$breakpoint-xs) {
    border-bottom: 3px solid black;
  }
  > h1 {
    text-align: center;
    padding-bottom: 1rem;
    @media (max-width: bp.$breakpoint-lg) {
      font-size: 3rem;
    }

    @media (max-width: bp.$breakpoint-md) {
      font-size: 2.7rem;
    }
    @media (max-width: bp.$breakpoint-sm) {
      font-size: 2rem;
      line-height: 2.7rem;
    }
    @media (max-width: bp.$breakpoint-xs) {
      font-size: 1.6rem;
    }
  }
  > h1:hover {
    color: var(--color-highlight);
  }
}

.border::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12%; 
  height: 88%; 
  width: 6px;
  background-color: var(--color-primary);
  @media (max-width: bp.$breakpoint-lg) {
    top: 9%;
    height: 91%;
  }
  @media (max-width: bp.$breakpoint-md) {
    top: 8%;
    height: 92%;
  }
  @media (max-width: bp.$breakpoint-sm) {
    top: 6%;
    height: 94%;
  }
  @media (max-width: bp.$breakpoint-xs) {
    top: 5%;
    height: 95%;
    width: 3px;
  }
}

.border::after {
  content: "";
  position: absolute;
  right: 0;
  top: 12%; 
  height: 88%; 
  width: 6px;
  background-color: var(--color-primary);
  @media (max-width: bp.$breakpoint-lg) {
    top: 9%;
    height: 91%;
  }
  @media (max-width: bp.$breakpoint-md) {
    top: 8%;
    height: 92%;
  }
  @media (max-width: bp.$breakpoint-sm) {
    top: 6%;
    height: 94%;
  }
  @media (max-width: bp.$breakpoint-xs) {
    top: 5%;
    height: 95%;
    width: 3px;
  }
}

.border-top::before {
  content: "";
  position: absolute;
  top: 12%;
  left: 0;
  height: 6px; 
  max-width: 35%;
  width: 30%; 
  background-color: var(--color-primary);
  @media (max-width: bp.$breakpoint-lg) {
    top: 9%;
    width: 28%;
  }
  @media (max-width: bp.$breakpoint-md) {
    top: 8%;
    width: 25%;
  }
  @media (max-width: bp.$breakpoint-sm) {
    top: 6%;
  }
  @media (max-width: bp.$breakpoint-xs) {
    top: 5%;
    height: 3px;
  }
}

.border-top::after {
  content: "";
  position: absolute;
  top: 12%;
  right: 0;
  height: 6px;
  width: 30%; 
  background-color: var(--color-primary);
  @media (max-width: bp.$breakpoint-lg) {
    top: 9%;
    width: 28%;
  }
  @media (max-width: bp.$breakpoint-md) {
    top: 8%;
    width: 25%;
  }
  @media (max-width: bp.$breakpoint-sm) {
    top: 6%;
  }
  @media (max-width: bp.$breakpoint-xs) {
    top: 5%;
    height: 3px;
  }
}

.skill img {
  transition: transform 0.3s ease;
  animation: none;
  will-change: transform;
  @media (max-width: bp.$breakpoint-md) {
  }
  @media (max-width: bp.$breakpoint-sm) {
  }
  @media (max-width: bp.$breakpoint-xs) {
    height: 40px;
    width: auto;
  }
}

.skill:hover img {
  animation: radiateX 0.35s ease-in-out;
}

@keyframes radiateX {
  0% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
  20% {
    transform: translateX(90%) scaleX(1);
    opacity: 1;
  }
  35% {
    transform: translateX(50%) scaleX(0.4);
    opacity: 1;
  }
  60% {
    transform: translateX(-50%) scaleX(0.4);
    opacity: 1;
  }
  75% {
    transform: translateX(-90%) scaleX(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}

#skills {
  scroll-margin-top: 67px; /* Höhe deines Headers oder gewünschter Abstand */
}
