.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  z-index: 10;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  flex: 1;
  > h1 {
    margin: 40px;
    font-weight: 770;
    font-size: 5rem;
  }
}

.nav-heading {
  position: relative;
  cursor: pointer;
  padding-bottom: 8px;
  transition: border 0.3s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: black;
    transition: all 0.35s ease;
  }

  // L-förmiger Startzustand
  &::before {
    width: 4px;
    height: 48px;
    left: -5%;
    bottom: -20%;
  }

  &::after {
    height: 4px;
    width: 32px;
    left: -5%;
    bottom: -20%;
  }

  // 🔁 Hover-Zustand
  &:hover::before {
    height: 0; // vertikale Linie verschwindet
  }

  &:hover::after {
    width: 50%; // z. B. nur rechte Hälfte unterstreichen
    left: 55%; // verschieben nach rechts
  }

  // Optional: aktiver Zustand
  &.active::after {
    width: 50%;
    left: 55%;
  }

  &.active::before {
    height: 0;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 280px;
  background-color: black;
  color: white;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 100px;
  > h2 {
    font-size: 72px;
    font-family: var(--font-base);
    font-weight: 800;
    margin: 0;
  }
  > h2:hover {
    color: var(--color-highlight);
  }
  > address {
    padding: 8px;
    font-style: normal;
  }
}

.right-wrapper {
  padding-bottom: 30px;
}
