$breakpoint-xs: 480px;   // phones
$breakpoint-sm: 600px;   // large phones / small tablets
$breakpoint-md: 768px;   // tablets
$breakpoint-m: 840px;   // small laptops
$breakpoint-lg: 1024px;  // desktops
$breakpoint-l: 1240px;  // large desktops
$breakpoint-xl: 1440px;  // extra large desktops