@use "breakpoints" as bp;

.content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 7rem 4rem 2rem 4rem;
  box-sizing: border-box;
  @media (max-width: bp.$breakpoint-lg) {
    margin: 0;
    height: fit-content;
    padding: 0 2rem 2rem 2rem;
  }
  @media (max-width: bp.$breakpoint-md) {
    padding: 0.6rem;
    height: fit-content;
  }
  @media (max-width: bp.$breakpoint-xs) {
    display: block;
    width: 100%;
  }
}

.h1 {
  margin: 0;
  @media (max-width: bp.$breakpoint-md) {
    padding: 1rem;
    height: fit-content;
    width: 100%;
    text-align: center;
  }

  @media (max-width: bp.$breakpoint-sm) {
    padding: 0;
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }

  &:hover {
    color: var(--color-highlight);
  }

  > h1 {
    margin: 0 0 1.5rem 0;
  }
}

.about-me {
  display: flex;
  width: 100%;
  height: fit-content;
  font-size: 22px;
  gap: 100px;
  @media (max-width: bp.$breakpoint-lg) {
    gap: 40px;
  }

  @media (max-width: bp.$breakpoint-md) {
    height: fit-content;
    flex-direction: column-reverse;
    gap: 0;
  }

  @media (max-width: bp.$breakpoint-sm) {
    padding-bottom: 2rem;
  }

  @media (max-width: bp.$breakpoint-xs) {
    padding: 0;
  }
  > p {
    margin-top: 32px;
  }
}

.home,
.remote {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  padding: 0.5rem 0;
  @media (max-width: bp.$breakpoint-lg) {
    padding: 0.5rem 0 0.5rem 0;
    height: auto;
    width: 300px;
  }

  @media (max-width: bp.$breakpoint-md) {
    font-size: 1.3rem;
    width: 100%;
  }

  @media (max-width: bp.$breakpoint-sm) {
    gap: 1.5rem;
    font-size: 1.2rem;
    width: 90%;
    padding: 0.5rem 1.5rem;
  }

  @media (max-width: bp.$breakpoint-xs) {
    gap: 1rem;
    font-size: 1rem;
    width: 90%;
    padding: 0.6rem 1rem;
  }
  > img {
    width: 40px;
    height: 40px;
    @media (max-width: bp.$breakpoint-xs) {
      width: 28px;
      height: auto;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  width: 100%;
  font-size: 24px;
  transition: all 0.15s;
  @media (max-width: bp.$breakpoint-lg) {
    margin-top: 2rem;
  }

  @media (max-width: bp.$breakpoint-sm) {
    width: 90%;
    margin-top: 24px;
  }
}

.left-wrapper {
  width: 50%;
  height: fit-content;
  @media (max-width: bp.$breakpoint-lg) {
    width: 50%;
  }
  @media (max-width: bp.$breakpoint-md) {
    width: 95%;
    padding: 1rem;
  }
  @media (max-width: bp.$breakpoint-sm) {
    width: 95%;
  }

  @media (max-width: bp.$breakpoint-xs) {
    width: 90%;
  }
  > p {
    text-align: justify;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (max-width: bp.$breakpoint-md) {
      margin-top: 0;
      font-size: 1.3rem;
      line-height: 1.8rem;
    }

    @media (max-width: bp.$breakpoint-sm) {
      font-size: 1.2rem;
      line-height: 1.6rem;
      padding-bottom: 0.5rem;
    }

    @media (max-width: bp.$breakpoint-xs) {
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.right-wrapper {
  display: flex;
  padding-top: 2rem;
  height: fit-content;

  @media (max-width: bp.$breakpoint-md) {
    padding: 0;
    justify-content: center;
  }
}

.portrait {
  display: inline-block;
  width: 100%; // Allow the portrait to take full width of its container
  max-width: 500px; // Set a max-width to prevent it from getting too large
  height: auto; // Allow height to adjust based on width
  aspect-ratio: 1 / 1; // Maintain a square aspect ratio

  @media (max-width: bp.$breakpoint-md) {
    width: 320px;
    height: fit-content;
    padding-bottom: 2rem;
  }

  @media (max-width: bp.$breakpoint-sm) {
    width: 300px;
    padding-bottom: 0;
  }

  @media (max-width: bp.$breakpoint-xs) {
    width: 250px;
  }

  .image-wrapper {
    position: relative;
    display: block;

    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: bp.$breakpoint-md) {
        height: fit-content;
        width: 100%;
      }

      @media (max-width: bp.$breakpoint-sm) {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      @media (max-width: bp.$breakpoint-xs) {
        object-fit: cover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 16px;
      right: -16px;
      bottom: -16px;
      border: 4px solid black;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
      @media (max-width: bp.$breakpoint-md) {
        top: 0.7rem;
        left: -1rem;
        right: 0.7rem;
        bottom: 0.7rem;
      }
      @media (max-width: bp.$breakpoint-sm) {
        top: 0.7rem;
        left: -1.2rem;
        bottom: 1.1rem;
        right: 0.7rem;
      }

      @media (max-width: bp.$breakpoint-xs) {
        top: 0.7rem;
        left: -1.2rem;
        bottom: 1.1rem;
        right: 0.7rem;
      }
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
