@use "breakpoints" as bp;

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90vh;
  margin-left: 90px;
  padding-top: 10px;

  @media (max-width: bp.$breakpoint-md) {
    padding: 0.6rem;
  }

  @media (max-width: bp.$breakpoint-xs) {
    display: block;
    padding: 0;
    height: fit-content;
    width: 100%;
    margin: 0;
  }
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: bp.$breakpoint-md) {
    padding: 1rem;
    height: fit-content;
  }

  @media (max-width: bp.$breakpoint-xs) {
    padding: 0;
    text-align: center;
  }

  &:hover {
    color: var(--color-highlight);
  }
}

.about-me {
  display: flex;
  width: 100%;
  height: 70vh;
  font-size: 22px;
  gap: 100px;
  @media (max-width: bp.$breakpoint-md) {
    gap: 0;
  }

  @media (max-width: bp.$breakpoint-xs) {
    height: fit-content;
    flex-direction: column-reverse;
    gap: 20px;
  }
  > p {
    margin-top: 32px;
  }
}

.home,
.remote {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  padding: 1rem 3rem;

  @media (max-width: bp.$breakpoint-md) {
    padding: 1rem;
    font-size: 1.4rem;
  }

  @media (max-width: bp.$breakpoint-xs) {
    gap: 1rem;
    font-size: 1rem;
    width: 90%;
    padding: 0.3rem 1rem;
  }
  > img {
    width: 40px;
    height: 40px;
    @media (max-width: bp.$breakpoint-xs) {
      width: 28px;
      height: auto;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  width: 100%;
  font-size: 24px;
  transition: all 0.15s;

  @media (max-width: bp.$breakpoint-md) {
    margin-top: 2rem;
    justify-content: flex-end;
  }

  @media (max-width: bp.$breakpoint-xs) {
    width: 90%;
    margin-top: 24px;
    justify-content: center;
  }
}

.left-wrapper {
  width: 50%;
  @media (max-width: bp.$breakpoint-xs) {
    width: 90%;
    padding: 1rem;
  }
  > p {
    text-align: justify;

    @media (max-width: bp.$breakpoint-md) {
      padding-left: 1rem;
      margin-top: 0;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    @media (max-width: bp.$breakpoint-xs) {
    
      font-size: 1rem;
      padding: 0;
    }
  }
}

.right-wrapper {
  display: flex;
  padding-top: 2rem;

  @media (max-width: bp.$breakpoint-md) {
    padding: 0;
    justify-content: center;
  }
}

.portrait {
  position: relative;
  display: inline-block;
  height: fit-content;
  box-sizing: border-box;
  width: 350px;
  @media (max-width: bp.$breakpoint-md) {
    width: 100%;
  }

  @media (max-width: bp.$breakpoint-xs) {
    width: 300px;
    height: 350px;
    display: flex;
  }

  > img {
    display: block;
    height: 500px;
    width: 350px;

    @media (max-width: bp.$breakpoint-md) {
      height: fit-content;
      width: 100%;
    }

    @media (max-width: bp.$breakpoint-xs) {
      height: 100%;
      width: 100%;
      object-fit:scale-down;
     
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    right: -16px;
    bottom: -16px;
    border: 4px solid black;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    @media (max-width: bp.$breakpoint-md) {
      top: 0.7rem;
      left: -0.7rem;
      right: 0.7rem;
      bottom: -0.7rem;
    }

    @media (max-width: bp.$breakpoint-xs) {
      top: 1rem;
      left: 1rem;
      bottom: -1rem;
      right: 1rem;
    }
  }

  &:hover::after {
    opacity: 1;
  }
}
