@use "breakpoints" as bp;

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
  padding-left: 90px;
  padding-top: 150px;

  @media (max-width: bp.$breakpoint-xs) {
    display: block;
    padding: 0;
    height: fit-content;
    width: 100%;
  }
}

h1 {
  margin: 0;
  @media (max-width: bp.$breakpoint-xs) {
    text-align: center;
  }
  &:hover {
    color: var(--color-highlight);
  }
}

.about-me {
  display: flex;
  width: 100%;
  height: 70vh;
  font-size: 22px;
  gap: 100px;
  @media (max-width: bp.$breakpoint-xs) {
    height: fit-content;
    flex-direction: column-reverse;
    gap: 20px;
  }
  > p {
    margin-top: 32px;
  }
}

.home,
.remote {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  @media (max-width: bp.$breakpoint-xs) {
    gap: 1rem;
    font-size: 1rem;
    width: 90%;
  }
  > img {
    width: 40px;
    height: 40px;
    @media (max-width: bp.$breakpoint-xs) {
      width: 28px;
      height: auto;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  width: 100%;
  font-size: 24px;
  transition: all 0.15s;
  @media (max-width: bp.$breakpoint-xs) {
    width: 90%;
    margin-top: 24px;
  }
}

.left-wrapper {
  width: 50%;
  @media (max-width: bp.$breakpoint-xs) {
    width: 100%;
    padding: 1rem;
  }
  > p {
    @media (max-width: bp.$breakpoint-xs) {
      width: 90%;
      font-size: 1rem;
    }
  }
}
.right-wrapper {
  display: flex;
  align-items: center;
  padding-left: 70px;
  width: 50%;
  @media (max-width: bp.$breakpoint-xs) {
    margin: 0 auto;
    max-width: 40%;
    padding-left: 0;
  }
}

.portrait {
  position: relative;
  display: inline-block;
  width: 424px;
  height: fit-content;
  box-sizing: border-box;

  > img {
    display: block;
    height: 50vh;
    width: auto;
    @media (max-width: bp.$breakpoint-xs) {
      height: 20vh;
      padding-top: 4rem;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 16px;
    right: -16px;
    bottom: -16px;
    border: 4px solid black;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    @media (max-width: bp.$breakpoint-xs) {
      top: 2rem;
      left: 1rem;
    }
  }

  &:hover::after {
    opacity: 1;
  }
}
