@use "breakpoints" as bp;

.app-container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

app-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;

  @media (max-width: bp.$breakpoint-xs) {
    padding: 0 10px;
    height: 60px;
  }
}
