@use "breakpoints" as bp;

.scroll-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 200px;
  padding-right: 10rem;
  @media (max-width: bp.$breakpoint-xs) {
    justify-content: center;
    height: 100px;
  }
  @media (max-width: bp.$breakpoint-md) {
    display: none;
  }
  > img {
    height: auto;
    width: auto;
    cursor: pointer;
    @media (max-width: bp.$breakpoint-xs) {
     
      width: 440px;
    }
    
  }
}

.special-style {
  padding-left: 10rem;
}
