.scroll-right {
  padding-left: 60px;
  display: flex;
}

.header-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1:hover {
    color: var(--color-highlight);
  }
}

