@use "breakpoints" as bp;

.header-portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  @media (max-width: bp.$breakpoint-xs) {
    padding-top: 0.6rem;
  }

  > h1 {
    text-align: center;

    @media (max-width: bp.$breakpoint-xs) {
      font-size: 40px;
      text-align: center;
      margin: 0;
    }
  }
  > h1:hover {
    color: var(--color-highlight);
  }
  > span {
    text-align: center;

    @media (max-width: bp.$breakpoint-md) {
      width: 90%;
      padding: 1rem;
      font-size: 1.2rem;
    }
    @media (max-width: bp.$breakpoint-xs) {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}

#projects {
  scroll-margin-top: 65px;
}
