.angled-footer {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  min-height: 1050px;
  background-color: black;
  color: white;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 44px;
  margin-bottom: 20px;

  > p {
    font-size: 72px;
    font-family: var(--font-base);
    font-weight: 800;
    margin: 0;
    padding-left: 80px;
  }
}

app-footer {
  display: block;
}

.copyright {
  padding-left: 32px;
  > img {
    height: 32px;
    width: 32px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h3 {
    color: var(--color-highlight);
  }
  > span {
    padding-bottom: 26px;
  }
}

.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15%;
  right: 2%;
  width: 5em;
  height: 6em;
  cursor: pointer;
}

.arrow-wrapper:hover .arrow {
  height: 4em;
}

.arrow {
  display: block;
  width: 0.2em;
  height: 2.6em;
  bottom: 0%;
  right: 40%;
  position: absolute;
  background: white;
  transition: height 0.35s;
  cursor: pointer;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 0.2em;
  background: white;
  top: 0;
  left: 69%;
  transform-origin: left center;
}

.arrow::before {
  transform: translateX(-0%) rotate(45deg);
}

.arrow::after {
  transform: translateX(-10%) rotate(-220deg);
}

.legal {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-bottom: 20px;
  > a {
    color: white;
  }
}

.legal a {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  transform: font-weight 0.1s ease-out;
}

.legal a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: calc(2.5em);
  width: 0;
  height: 2px;
  background-color: var(--color-highlight);
  transition: width 0.2s ease-out;
}

.legal a:hover {
  transform: translateX(12px);
  font-weight: 600;
}

.legal a:hover::after {
  width: calc(100% - 2.6em);
}
