<section class="angled-footer" [class.footer--compact]="compact">
  @if (!compact) {

  <p class="blink">Sag Hi!</p>

  } @if (!compact) {
  <div class="form">
    <div class="text-container">
      <h3>Willst du über ein Projekt sprechen?</h3>
      <span>Sag hallo, lass uns Ideen diskutieren und sie machbar machen</span>
    </div>

    <app-contact></app-contact>
  </div>
  }

  <div class="footer-wrapper">
    <div class="footer-bottom">
      <div class="copyright">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 140"
          class="logo"
        >
          <style>
            :root {
              --bg: #fffcf3;
              --fg: #0a0a0a;
            }
            .logo-text {
              font-family: var(--font-base);
              font-weight: 900;
              letter-spacing: 6px;
              dominant-baseline: middle;
            }
          </style>
          <rect width="100%" height="100%" fill="var(--bg)" />
          <text
            x="52%"
            y="52%"
            class="logo-text"
            fill="var(--fg)"
            font-size="88"
            text-anchor="middle"
          >
            <tspan class="bracket" fill="var(--bg)">[</tspan>
            <tspan fill="var(--bg)" dy="-10" font-size="80">B</tspan>
            <tspan fill="var(--bg)" dx="-10" dy="20" font-size="80">L</tspan>
            <tspan fill="var(--fg)" font-size="120" dx="-120" dy="-15">/</tspan>
            <tspan class="bracket" fill="var(--bg)" dx="30" dy="10">]</tspan>
          </text>
        </svg>
        <p>&copy; {{ currentYear }} Birgit Leitner</p>
      </div>
    </div>

    <div class="mobile-email mobile-only" aria-hidden="false">
      <a href="mailto:deine-mail&#64;example.com"
        >birgit.leitner&#64;yahoo.de</a
      >
    </div>
    <div class="wrapper-legal-sm">
      <app-footer-social-media></app-footer-social-media>
      <div class="legal">
        <a [routerLink]="['/impressum']" i18n="@@footer.imprint">Impressum</a> |
        <a [routerLink]="['/datenschutz']" i18n="@@footer.privacy"
          >Datenschutzerklärung</a
        >
      </div>
      @if (!compact) {
      <div class="arrow-wrapper">
        <a href="#top" class="arrow" aria-label="Scroll to top"> </a>
      </div>
      }
    </div>
  </div>
</section>
